html, body{
    margin:0px;
    padding:0px;
}
.section{
   text-align: center;
    margin:0 auto;
}
.wrapper{
    width:450px;
    height:450px;
    margin:0 auto;
    position: relative;
}
.wrapper .cell{
    background-color: aliceblue;
    border: 1px solid #008000;
    cursor: pointer;
    float: left;
    font-size: 100px;
    height: 148px;
    text-align: center;
    width: 148px;
}
.wrapper .cell img {
    height: 80%;
    padding-top: 10%;
    margin: 0 auto;
}
.wrapper .cell img:last-of-type {
    display: none;
}

.wrapper .cell img:first-of-type {
    display: none;
}
.restart{
    text-align: center;
    padding-top: 20px;
}
.restart a{
    display:inline-block;
    padding:10px 20px;
    background-color: green;
    color:#fff;
}
.result {
    text-align: center;
    padding-top: 20px;
    display: none;
}
.result button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: 0;
}
#box {
    margin-top: -50px;
}





.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

